flow.json
[
    {
        "id": "2108ef77.1e383",
        "type": "tab",
        "label": "Key-value store API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3476dbf2.678c24",
        "type": "subflow",
        "name": "REST API setup",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "5f666a3e.d80f34"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 180,
                "wires": [
                    {
                        "id": "3e81f44f.7e4a3c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "ea4103c.dfaef",
        "type": "inject",
        "z": "2108ef77.1e383",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "#:(file)::keys",
        "payloadType": "flow",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "863260a9.f45a2"
            ]
        ]
    },
    {
        "id": "863260a9.f45a2",
        "type": "debug",
        "z": "2108ef77.1e383",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "c8107088.37ef9",
        "type": "http in",
        "z": "2108ef77.1e383",
        "name": "",
        "url": "/kv/:key",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "d6088836.5aba18"
            ]
        ]
    },
    {
        "id": "dcc7abc0.644658",
        "type": "inject",
        "z": "2108ef77.1e383",
        "name": "add API key",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "8b371aca.042cd8"
            ]
        ]
    },
    {
        "id": "aeb809b1.00b238",
        "type": "change",
        "z": "2108ef77.1e383",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::keys",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d6fb8415.b202b8",
        "type": "function",
        "z": "2108ef77.1e383",
        "name": "",
        "func": "const { keys } = msg\n\nif (!keys) {\n    return { payload: [msg.payload] }\n}\n\nreturn {\n    payload: [...new Set([...keys, msg.payload])]\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 120,
        "wires": [
            [
                "aeb809b1.00b238"
            ]
        ]
    },
    {
        "id": "ac351cd5.da638",
        "type": "inject",
        "z": "2108ef77.1e383",
        "name": "remove API key",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "c42dc6a7.537078"
            ]
        ]
    },
    {
        "id": "651df6ce.8a42a8",
        "type": "function",
        "z": "2108ef77.1e383",
        "name": "",
        "func": "const { keys } = msg\n\nif (!keys) {\n    return { payload: [] }\n}\n\nreturn {\n    payload: keys.filter(item => item !== msg.payload)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "aeb809b1.00b238"
            ]
        ]
    },
    {
        "id": "8b371aca.042cd8",
        "type": "change",
        "z": "2108ef77.1e383",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "keys",
                "pt": "msg",
                "to": "#:(file)::keys",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "d6fb8415.b202b8"
            ]
        ]
    },
    {
        "id": "c42dc6a7.537078",
        "type": "change",
        "z": "2108ef77.1e383",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "keys",
                "pt": "msg",
                "to": "#:(file)::keys",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "651df6ce.8a42a8"
            ]
        ]
    },
    {
        "id": "5f2fdb7b.354154",
        "type": "function",
        "z": "3476dbf2.678c24",
        "name": "check authorization",
        "func": "const header = msg.req.headers.authorization || ''\nconst token = header.split(/\\s+/).pop() || ''\n\nmsg.token = token\nmsg.isAuthorized = (msg.keys || []).includes(token)\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 80,
        "wires": [
            [
                "3e81f44f.7e4a3c"
            ]
        ]
    },
    {
        "id": "5f666a3e.d80f34",
        "type": "change",
        "z": "3476dbf2.678c24",
        "name": "set store and keys",
        "rules": [
            {
                "t": "set",
                "p": "keys",
                "pt": "msg",
                "to": "#:(file)::$parent.keys",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "store",
                "pt": "msg",
                "to": "$parent.store",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "82097d50.631e1"
            ]
        ]
    },
    {
        "id": "82097d50.631e1",
        "type": "change",
        "z": "3476dbf2.678c24",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 80,
        "wires": [
            [
                "5f2fdb7b.354154"
            ]
        ]
    },
    {
        "id": "998c6322.b55cb",
        "type": "comment",
        "z": "2108ef77.1e383",
        "name": "Administration                       ",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "520bc2ae.dffcdc",
        "type": "comment",
        "z": "2108ef77.1e383",
        "name": "Available REST endpoints",
        "info": "",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "d6088836.5aba18",
        "type": "subflow:3476dbf2.678c24",
        "z": "2108ef77.1e383",
        "name": "",
        "env": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "6532f043.4ee2c"
            ]
        ]
    },
    {
        "id": "55eedd0c.4d0a34",
        "type": "template",
        "z": "3476dbf2.678c24",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"error\": \"Unauthorized\" }",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "bcdf47af.a3d758"
            ]
        ]
    },
    {
        "id": "3e81f44f.7e4a3c",
        "type": "switch",
        "z": "3476dbf2.678c24",
        "name": "is authorized",
        "property": "isAuthorized",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 180,
        "wires": [
            [],
            [
                "55eedd0c.4d0a34"
            ]
        ]
    },
    {
        "id": "bcdf47af.a3d758",
        "type": "change",
        "z": "3476dbf2.678c24",
        "name": "statusCode 401",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "401",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 260,
        "wires": [
            [
                "1db29f40.bb2911"
            ]
        ]
    },
    {
        "id": "1db29f40.bb2911",
        "type": "http response",
        "z": "3476dbf2.678c24",
        "name": "",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "a5e49dce.5183d",
        "type": "http response",
        "z": "2108ef77.1e383",
        "name": "",
        "x": 890,
        "y": 840,
        "wires": []
    },
    {
        "id": "9ddbe330.f28ac",
        "type": "http in",
        "z": "2108ef77.1e383",
        "name": "",
        "url": "/kv/:key",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "dbc45221.7f345"
            ]
        ]
    },
    {
        "id": "6365a038.41629",
        "type": "http in",
        "z": "2108ef77.1e383",
        "name": "",
        "url": "/kv/:key",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "dde7c191.e76f6"
            ]
        ]
    },
    {
        "id": "dbc45221.7f345",
        "type": "subflow:3476dbf2.678c24",
        "z": "2108ef77.1e383",
        "name": "",
        "env": [],
        "x": 340,
        "y": 760,
        "wires": [
            [
                "a3494dcb.7114b"
            ]
        ]
    },
    {
        "id": "a4d5bf14.25dbe",
        "type": "http in",
        "z": "2108ef77.1e383",
        "name": "",
        "url": "/kv/:key",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "dbc45221.7f345"
            ]
        ]
    },
    {
        "id": "9416fe4d.9bee1",
        "type": "http in",
        "z": "2108ef77.1e383",
        "name": "",
        "url": "/kv",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 840,
        "wires": [
            [
                "eb0a2dc4.6168"
            ]
        ]
    },
    {
        "id": "eb0a2dc4.6168",
        "type": "subflow:3476dbf2.678c24",
        "z": "2108ef77.1e383",
        "name": "",
        "env": [],
        "x": 340,
        "y": 840,
        "wires": [
            [
                "9ad6756e.e48518"
            ]
        ]
    },
    {
        "id": "9ad6756e.e48518",
        "type": "function",
        "z": "2108ef77.1e383",
        "name": "",
        "func": "if (!msg.store) {\n    msg.store = {}\n    return msg\n}\n\nif (msg.store[msg.token]) {\n    delete msg.store[msg.token]\n}\n\nmsg.payload = {}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 840,
        "wires": [
            [
                "a4d664ab.bdd458"
            ]
        ]
    },
    {
        "id": "a4d664ab.bdd458",
        "type": "change",
        "z": "2108ef77.1e383",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::store",
                "pt": "flow",
                "to": "store",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 840,
        "wires": [
            [
                "a5e49dce.5183d"
            ]
        ]
    },
    {
        "id": "a3494dcb.7114b",
        "type": "function",
        "z": "2108ef77.1e383",
        "name": "",
        "func": "const { token, payload: { value }, req: { params: { key } } } = msg\n\nif (!msg.store) {\n    msg.store = {}\n}\n\nif (!msg.store[token]) {\n    msg.store[token] = {}\n}\n\nmsg.store[token] = {\n    ...msg.store[token],\n    [key]: value\n}\n\nmsg.payload = {\n    key,\n    value\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 760,
        "wires": [
            [
                "a4d664ab.bdd458"
            ]
        ]
    },
    {
        "id": "2bd225f6.87788a",
        "type": "function",
        "z": "2108ef77.1e383",
        "name": "",
        "func": "const { token, payload: { value }, req: { params: { key } } } = msg\n\nif (!msg.store) {\n    msg.store = {}\n}\n\nif (!msg.store[token]) {\n    msg.store[token] = {}\n}\n\nif (msg.store[token][key] === undefined) {\n    msg.store[token] = {\n        ...msg.store[token],\n        [key]: value\n    }\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6532f043.4ee2c",
        "type": "function",
        "z": "2108ef77.1e383",
        "name": "",
        "func": "const { token, req: { params: { key } } } = msg\n\nif (!msg.store || !msg.store[token]) {\n    msg.payload = {}\n    return msg\n}\n\nif (key === undefined) {\n    msg.payload = msg.store[token]\n    return msg\n}\n\nmsg.payload = {\n    key,\n    value: msg.store[token][key]\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 520,
        "wires": [
            [
                "a5e49dce.5183d"
            ]
        ]
    },
    {
        "id": "bfc2f584.ec4b88",
        "type": "http in",
        "z": "2108ef77.1e383",
        "name": "",
        "url": "/kv",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "d6088836.5aba18"
            ]
        ]
    },
    {
        "id": "dde7c191.e76f6",
        "type": "subflow:3476dbf2.678c24",
        "z": "2108ef77.1e383",
        "name": "",
        "env": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "2bd225f6.87788a"
            ]
        ]
    }
]